:root {
  --base-color: blue;
  /* CSS Variables */
  font-size: 16px; }

body {
  color: var(--base-color);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  height: 2000px; }

input,
textarea,
button {
  font-family: "Montserrat", sans-serif; }

.link {
  background-color: orange;
  /* parni - crvena */ }
  .link:nth-child(even) {
    background-color: red; }

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 70px);
  gap: 20px 30px;
  background-color: purple;
  padding: 20px;
  height: 300px; }
  @media screen and (min-width: 640px) {
    .navigation {
      display: none; } }
  .navigation__link {
    background-color: greenyellow; }
    .navigation__link--red {
      background-color: red; }
    .navigation__link--flex {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      flex-wrap: false;
      gap: 20px; }

.flex-center-both {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: false; }
